// Moddal
::v-deep .modal-content {
	// border: 1px solid red;
	width: 652px;
	transform: translate(-14.5%, 12%);
	padding: 4.5rem 5rem;
}
// .modal-body-content {
//   border: 1px solid;
// }

.modal-content-title {
	font-weight: 400;
	font-size: 24px;
	line-height: 29px;
	color: #262626;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
}

.modal-content-title-del-hr {
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: $black;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
	word-break: break-all;
}

// Hr
.hr-list-import {
	margin-top: 4.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1.5rem;
}
.hr-list-import__btn {
	border: 1px solid #9B9B9B;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	background: #FFFFFF;
	height: 40px;
	padding: 0 3.75rem;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1.5rem;
& span, label {
	margin-bottom: 0;
	font-weight: 400;
	font-size: 18px;
	line-height: 22px;
	color: #C0C0C0;
}
}
.hr-list-btns {
	margin-top: 5.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
	font-weight: 400;
	font-size: 20px;
	line-height: 30px;
	text-align: center;
	& span {
		color: #FFFFFF !important;
	}
	& div:nth-child(1), & div:nth-child(2) {
			background: #ACACAC;
			border-radius: 40px;
			padding: 0.5rem 1.75rem;
	}
}

.accept {
	background: #F9BE00 !important;
}