@import '@/scss/modules/common/common.scss';

.pass-page {
	min-height: 100vh;
	display: flex;
	align-items: stretch;
}

.pass-bg {
	border: 1px solid #E5E5E5;
	background: #FFFFFF;
	height: inherit;
	width: 100%;
	padding: 7rem 7.5rem;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	// background-image: url('/folder/pass-bg.png');
	// background-image: url('../folder/pass-bg.png');
	// background-image: url('https://img.vn/uploads/thuvien/singa-png-20220719150401Tdj1WAJFQr.png');
	// background-image: url($url_1);
	overflow: hidden;
	background-size: cover;
}

.pass-bg__img {
	position: absolute;
	width: 100vw;
	height: 100vh;
	z-index: 1;
}

.pass-wrapper {
	background: #FBFAFF;
	border: 1px solid rgba(94, 94, 94, 0.6);
	border-radius: 10px;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.pass-form {
	background: transparent;
	min-width: 600px;
	min-height: 450px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	position: absolute;
	z-index: 2;
}

.pass-title {
	font-style: normal;
	font-weight: 400;
	font-size: 32px;
	line-height: 46px;
	text-align: center;
	color: #1D266A;
}

.pass-description {
	margin-top: 1.938rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	& span {
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 24px;
		text-align: center;
		color: $black;
	}
}

#change-pass-done {
	& span {
		font-size: 24px;
		color: #5E5E5E;
	}
}

.pass-input-wrraper {
	// border: 1px solid greenyellow;
	margin-top: 1.3rem;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1.5rem;
}
:v-deep .invalid-feedback {
	border: 1px solid red;
	position: absolute;
	top: 96%;
}

.pass-input {
	width: 100%;
	height: 74px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	// gap: 0.25rem;
	position: relative;

	& img {
		position: absolute;
		top: 16%;
		left: 1rem;
	}

	& input {
		background: #FFFFFF;
		border: 1px solid #999999;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		border-radius: 10px;
		width: 100%;
		height: 100%;
		padding: 1rem 1rem 1rem 5rem;

		font-weight: 400;
		font-size: 24px;
		line-height: 29px;
		color: #A6A3A3;

		&::placeholder {
			font-weight: 400;
			font-size: 24px;
			line-height: 29px;
			color: #A6A3A3;
		}

	}

}

.pass-input__input {
	// border: 1px solid blue;
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: flex-start;
		align-items: center;
	position: relative;


		& img {
			position: absolute;
			top: 14.5%;
			left: 1rem;
			padding: 4px;
		}

		& > i {
			// border: 1px solid greenyellow;
			position: absolute;
			top: 24%;
			right: 1.2rem;
		}

	& input {
		background: #FFFFFF;
		border: 1px solid #999999;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		border-radius: 10px;
		width: 100%;
		height: 76px;
		padding: 1rem 3rem 1rem 5rem;
		font-weight: 400;
		font-size: 24px;
		line-height: 29px;
		color: #A6A3A3;
		&::placeholder {
			font-weight: 400;
			font-size: 24px;
			line-height: 29px;
			color: #A6A3A3;
		}
	}

	& div:nth-child(1) {
		position: absolute;
		top: 26%;
		right: 1.2rem;
	}
}

.pass-btn {
	margin-top: 1.25rem;
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 0.875rem;
}

.pass-submit {
	border: none;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 10px;
	background: #1D266A;
	width: 100%;
	height: 75px;

	& span {
		font-style: normal;
		font-weight: 300;
		font-size: 24px;
		line-height: 36px;
		display: flex;
		justify-content: center;
		align-items: center;
		color: #FFFFFF;
	}

	&--send-email {
		background: #8F99E4;
	}
}

// common
.btn {
	cursor: pointer;
	user-select: none;
	transition: all 0.3s ease;

	&:hover {
		opacity: 0.7;
	}

	&:active {
		opacity: 1;
	}
}

@media screen and (max-width: 992px) {
	.pass-form {
		padding: 5.5rem 6rem 0.75rem 6rem;
	}
}

@media screen and (max-width: 768px) {
	.pass-form {
		padding: 3.5rem 4rem 0.75rem 4rem;
	}
}

@media screen and (max-width: 576px) {
	.pass-form {
		padding: 1.5rem 2rem 0.75rem 2rem;
	}

	.pass-title {
		& span {
			font-size: 32px;
			line-height: 48px;
		}
	}
}

@media screen and (max-width: 320px) {
	.pass-form {
		padding: 1rem 1.25rem 0.75rem 1.25rem;
	}

	.pass-title {
		& span {
			font-size: 32px;
			line-height: 48px;
		}
	}
}