$white: #FFFFFF;
$sorbus: #FB9A09;
$step1: #E1F3FF;
$btn-disabled: #EAEAEA;
$red: #EE0D0D;
$shark: #303133;
$silver: #CDCDCD;
$pale-sky: #6C757D;
$your-pink: #FFC2C250;
$pastel-green: #64D894;
$casablanca: #F6B556;
$carnation: #FA604D;
$malibu: #5CBEF3;
$mercury: #E5E5E5;
$denim: #1867C0;
$athens-gray: #E9ECEF;
$geyser: #DEE2E6;
$boston-blue: #3189BB;
$abbey: #495057;
$mischka: #CED4DA;
$headerColor: #1D266A;
$black: #000000;
$blueLight: #414DAA;
$grayBg: #EFF1FF;
$btnOrange: #F9BE00;
$btnGray: #ACACAC;
$titleClassify: #333333;
$borderBasicInfor: #8B8B8B;
$back: #8F8F8F;
$case: #4056FC;

$applying: #666666;
$approved: #0500FF;
$decline: #FF0000;
$preparing: #666666;
$first: #666666;
$unofficial: #0500FF;
$cancel: #FF0000;
$pass-back: #A0A0A0;
$send-mail: #8F99E4;
$status-pause: #A3A3A3;
$bg-title-form: #F8F8F8;
$btn-extend: #304CAD;

$btn-save: #ffc107;
$btn-back:  #666666;
$btn-import: #ffc107;
$btn-delete-hover: #343a40;
$btn-search: #5eb236;
$btn-cancel:  #666666;
$btn-accept-modal: rgb(48, 76, 173);