.date_picker {
    border-color: $silver;
    box-shadow: none;

    i {
        font-size: 20px;
        color: $sorbus;
    }

    button.btn-outline-secondary {
        &:hover {
            box-shadow: none;
            background-color: $sorbus;
            color: $white;

            i {
                color: $white;
            }
        }

        &:focus {
            box-shadow: none;
            background-color: $sorbus;
            color: $white;

            i {
                color: $white;
            }
        }

        &:active {
            box-shadow: none;
            background-color: $sorbus;

            i {
                color: $white;
            }
        }

        &:not(:disabled):not(.disabled):active:focus, &:not(:disabled):not(.disabled).active:focus, .show > .dropdown-toggle:focus {
            box-shadow: none;
            background-color: $sorbus;

            i {
                color: $white;
            }
        }
    }

    .form-control {
        &:focus {
            border-color: $silver;
            box-shadow: none;
        }
    }
}
